{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{with .FormErrors.choice}}
        <div class="alert alert-danger" role="alert">
            {{.}}
        </div>
    {{end}}
    <h1 style="text-align: center;">{{.Story.Title}}</h1>
    <p style="margin: 2% 5% 2% 5%;">
        {{range .Story.Story}}
            {{.}}
        {{end}}
    </p>
    {{ if eq (len .Story.Options) 0 }}
        <p style="margin: 2% 5% 2% 5%;">The story ends here...</p>
    {{else}}
        <p style="margin: 2% 5% 2% 5%;">You have {{len .Story.Options}} possible moves...</p>
        {{range .Story.Options}}
            <p style="margin: 2% 5% 2% 5%;">{{.NextArc}} - {{.Text}}</p>
        {{end}}
    {{ end }}
    <form method="POST" action="/" style="margin: 2% 55% 2% 5%;">
        <label for="nextarc">Your choice (title of move, if you write wrong the story will reset itself)</label>
        <input type="text" name="choice" class="form-control" >
    </form>
{{end}}